process {
    publishDir = [
	path: { "${params.outdir}/$sample" },
	mode: 'copy'
    ]
    withName: BUSCO {
        cpus   = 16
        memory = 64.GB
        time   = 12.h
	ext.args = params.auto_lineage ? "--auto-lineage" : "-l ${params.lineage}"
	ext.args2 = params.busco_options
    }
    withName: CHECKM2 {
        cpus   = 8
        memory = 64.GB
        time   = 6.h
	ext.args = [
            "--tmpdir ${params.tmp_dir}",
            "--database_path ${params.checkm2_db}"
        ].join(' ').trim()
	ext.args2 = params.checkm2_options
    }
    withName: GTDBTK2 {
        cpus   = 12
        memory = 64.GB
        time   = 24.h
	ext.args = [
            "--mash_db ${params.mash_db}",
            "--tmpdir ${params.tmp_dir}"
        ].join(' ').trim()
	ext.args2 = params.gtdbtk2_options
    }
    withName: GUNC {
        cpus   = 12
        memory = 64.GB
        time   = 12.h
	ext.args = "-r ${params.gunc_db}"
	ext.args2 = params.gunc_options
    }
    withName: QUAST {
        cpus   = 4
        memory = 16.GB
        time   = 6.h
	ext.args = "--max-ref-number ${params.max_ref_number}"
    }
}
