process {
    withName: BUSCO {
        cpus   = { check_max (16    * task.attempt, 'cpus'   ) }
        memory = { check_max (64.GB * task.attempt, 'memory' ) }
        time   = { check_max (12.h  * task.attempt, 'time'   ) }
    }
    withName: CHANGE_DOT_FOR_UNDERSCORE {
        cpus   = { check_max (1    * task.attempt, 'cpus'    ) }
        memory = { check_max (8.GB * task.attempt, 'memory'  ) }
        time   = { check_max (2.h  * task.attempt, 'time'    ) }
    }
    withName: CHECKM2 {
        cpus   = { check_max (8     * task.attempt, 'cpus'   ) }
        memory = { check_max (64.GB * task.attempt, 'memory' ) }
        time   = { check_max (6.h   * task.attempt, 'time'   ) }
    }
    withName: CONCAT_DFS {
        cpus   = { check_max (1    * task.attempt, 'cpus'    ) }
        memory = { check_max (8.GB * task.attempt, 'memory'  ) }
        time   = { check_max (2.h  * task.attempt, 'time'    ) }
    }
    withName: DECOMPRESS {
        cpus   = { check_max (1    * task.attempt, 'cpus'    ) }
        memory = { check_max (8.GB * task.attempt, 'memory'  ) }
        time   = { check_max (2.h  * task.attempt, 'time'    ) }
    }
    withName: EMPTY_BINS {
        cpus   = { check_max (1    * task.attempt, 'cpus'    ) }
        memory = { check_max (8.GB * task.attempt, 'memory'  ) }
        time   = { check_max (2.h  * task.attempt, 'time'    ) }
    }
    withName: FINAL_DF {
        cpus   = { check_max (1    * task.attempt, 'cpus'    ) }
        memory = { check_max (8.GB * task.attempt, 'memory'  ) }
        time   = { check_max (2.h  * task.attempt, 'time'    ) }
    }
    withName: GTDBTK2 {
        cpus   = { check_max (12    * task.attempt, 'cpus'   ) }
        memory = { check_max (64.GB * task.attempt, 'memory' ) }
        time   = { check_max (24.h  * task.attempt, 'time'   ) }
    }
    withName: GUNC {
        cpus   = { check_max (16    * task.attempt, 'cpus'   ) }
        memory = { check_max (64.GB * task.attempt, 'memory' ) }
        time   = { check_max (12.h  * task.attempt, 'time'   ) }
    }
    withName: QUAST {
        cpus   = { check_max (4     * task.attempt, 'cpus'   ) }
        memory = { check_max (16.GB * task.attempt, 'memory' ) }
        time   = { check_max (6.h   * task.attempt, 'time'   ) }
    }
}
