process {
    withName: BUSCO {
        cpus   = 16
        memory = 64.GB
        time   = 12.h
    }
    withName: CONCAT_DFS {
        cpus   = 4
        memory = 8.GB
        time   = 1.h
    }
    withName: CHECKM2 {
        cpus   = 8
        memory = 64.GB
        time   = 6.h
    }
    withName: DECOMPRESS {
        cpus   = 4
        memory = 16.GB
        time   = 2.h
    }
    withName: EMPTY_BINS {
        cpus   = 4
        memory = 8.GB
        time   = 1.h
    }
    withName: FINAL_DF {
        cpus   = 4
        memory = 8.GB
        time   = 1.h
    }
    withName: GTDBTK2 {
        cpus   = 12
        memory = 64.GB
        time   = 24.h
    }
    withName: GUNC {
        cpus   = 12
        memory = 64.GB
        time   = 12.h
    }
    withName: QUAST {
        cpus   = 4
        memory = 16.GB
        time   = 6.h
    }
}
