params {
config_profile_description = "BUGFRI Dr. Falquet Group"
config_profile_contact = "jeferyd.yepesgarcia@unifr.ch"
config_profile_url = "https://github.com/jeffe107/BIgMAG"
max_memory = 1800.GB
max_cpus = 128
max_time = 240.h
}

process {
executor = "slurm"
maxRetries = 2
beforeScript = 'mkdir -p ./tmp/ && export TMPDIR=./tmp/'
queue = 'pibu_el8'
}

executor {
queueSize = 30
}

apptainer {
enabled = true
autoMounts = true
}
