process {
    publishDir = [
	path: { "${params.outdir}/$sample" },
	mode: 'copy'
    ]
    withName: DECOMPRESS {
	stageInMode = 'copy'
    }
    withName: BUSCO {
	ext.args = params.busco_options
    }
    withName: CHECKM2 {
	ext.args = params.checkm2_options
    }
    withName: GTDBTK2 {
	ext.args = params.gtdbtk2_options
    }
    withName: GUNC {
	ext.args = params.gunc_options
    }
}
